@import url(https://fonts.googleapis.com/css?family=Google+Sans:400,500);

.body {
  font-family: "Google Sans", sans-serif;
  overflow-x: none;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
